*{
  margin: 0;
  padding: 0;
  
}

@font-face {
  font-family: 'logofont'; /* This is the name you'll use to reference the font */
  src: url('../fonts/masyteregular-lgmb0.ttf') format('truetype'); /* Path to your TTF font file */
  /* You can include more font formats like WOFF and WOFF2 for better browser compatibility */
}
@font-face {
  font-family: 'Vagabond-bold'; /* This is the name you'll use to reference the font */
  src: url('../fonts/Vagabond-Bold.ttf') format('truetype'); /* Path to your TTF font file */
  /* You can include more font formats like WOFF and WOFF2 for better browser compatibility */
}
@font-face {
  font-family: 'Vagabond-Extrabold'; /* This is the name you'll use to reference the font */
  src: url('../fonts/Vagabond-ExtraBold.ttf') format('truetype'); /* Path to your TTF font file */
  /* You can include more font formats like WOFF and WOFF2 for better browser compatibility */
}
@font-face {
  font-family: 'Vagabong-outline'; /* This is the name you'll use to reference the font */
  src: url('../fonts/Vagabond-Outline.ttf') format('truetype'); /* Path to your TTF font file */
  /* You can include more font formats like WOFF and WOFF2 for better browser compatibility */
}

/*👉*{
outline: greenyellow 2px solid;
}👈*/


body {
/* height: 400vh; */
width: 100vw;
background-color: #000;
overflow-x: hidden !important;
color: #fff;
z-index: -2;
scrollbar-width: none !important;
}

html{
overflow-x: hidden;
}

*::-webkit-scrollbar {
display: none;
}

/* Style the scrollbar thumb */
*::-webkit-scrollbar-thumb {
background-color: #00000000;
}

/* Optional: Style the scrollbar track when hovered */
*::-webkit-scrollbar-thumb:hover {
background-color: #555;
}

::-webkit-scrollbar {
display: none;
}

.hero-section{
width: 100vw;
height: 100vh;
}

.hero-logo{
  font-family: 'logofont', sans-serif;
  margin: 3rem;
  z-index: 5 !important;
  color: #fff;
  position: relative;
  font-size: 2.5rem;
}

.hero-section>canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: 0; */
}

.hero-section-text-contaiiner{
position: relative;
z-index: 2 !important;
top: 60vh;
left: 5vw;
width: min-content;
}

.hero-section-text-contaiiner>h2{
font-family: 'Vagabond-bold', sans-serif;
font-size: 300%;

}



/* ! INTRO ------------------------------------*/




.intro{
display:flex;
align-items:center;
justify-content:center;
flex-direction:row;
margin-top: 40vh;
/* background-color: aqua; */
}

#logo{
width:80vw !important;
}
.hq{
width:30vw
}
.reveal-txt{
position:absolute;
left:3rem;
/* padding-left: 3rem; */
width:90vw;
max-width: 800px;
transform:translatey(80%);
font-family: 'Vagabond-bold', sans-serif;
/* outline:  #fff 2px solid; */

}

#logo{
  font-family: 'Vagabond-bold', sans-serif;
}

@media only screen and (max-width: 700px) {
.intro{
  margin-top: 0vh;
}
}


.star-cover{
width: 100vw;
height: 30vh;

background: rgba(163, 18, 18, 0.548);
/* background: linear-gdradient(0deg, #01010100, #010101); */

position: absolute;
}

#stars{
width:100vw;
height:100vh;

/* padding-top: 50vh; */
}


.planet-container{
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  /* background-color: red; */
  transform: translateY(-20%);
}


.planet{
  width: 100vw;
  aspect-ratio: 1;
  /* height: 100vh; */
  border-radius: 50%;
  /* background-color: #00f; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  /* padding-bottom: 30vh; */
  box-shadow: 0px -43px 99px -10px #0078ff80;
  transform: translateY(10%);
}

.form{
  width: 100vw;
  height: 60vh;
  /* background-color: red; */
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Vagabond-bold', sans-serif;

}

.form>div>h1{
	font-size: 3.5rem;
	position: relative;
	overflow: hidden;
	height: 4.5rem;
	margin: 0;
  width: 100vw;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .form>div>h1{
    font-size: 1.7rem;
    height: 2rem;
  }
}

.text{
  /* padding: 100px; */
  width: 100vw;
  height: 60vh;
  margin-left: 2rem;
  margin-top: -1rem;
}

.hidden-text{
  position: absolute;
  font-size: 3.2rem;
  padding-left: 1.5rem;
	z-index: 200;
}

.form-holder{
  position: static;
  /* background-color: red; */
  width: 80%;
  height: 40%;
}

.form-holder>h2{
  margin-top: 2rem;
  font-size: 4rem;
  text-align: left;
  transform: translateX(-1%);
}

body>*{
  scroll-behavior: smooth;
  overflow: hidden;
}

form{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

form>*{
  margin: 0;
  /* align-items:baseline; */
  margin: 1.5rem;
}

#email{
  outline: none;
  user-select: none;
  
  border: none;

  border: 2px solid white;
  border-radius: 6px;
  width: 30vw;
  background: transparent;
  min-width: 300px;
  color:white;
  font-size: 1.3rem;
  padding: 0.2rem;
  padding-left: 1rem;
  height: 3rem;
}

#Join{
  width: 10vw;
  min-width: 200px;
  outline:  none;
  height: 3rem;
  font-size: 2rem;
  color: #000;
  font-family: 'Vagabond-bold', sans-serif;
  letter-spacing: 110%;
  user-select: none;
  
}

.bottom-logo{
  margin-left: 1.5rem ;
}

@media only screen and (max-width: 700px) {
  #email{
    height: 1.5rem;
  }
  .hidden-text{
    position: absolute;
    font-size: 1.7rem;
    padding-left: 1.5rem;
    z-index: 200;
  }
}
